@model WantToLearn.Models.Admin_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Profile</h2>

@Html.Partial("Admin_Sidebar")

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<br />
