@{
    ViewBag.Title = "Home Page";
}


<div id="Title" style="text-align: center; margin-top: 150px;">
    <p style="font-size: 50px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: normal; color: white;">If You Want To Learn, This is the place for you.</p>
</div>
<br />
<div>
    <button id="StudentBTN" class="btn"><p style="font-size: 25px; color: white;">Students, Start Here.</p></button>
    <br />
    <button id="LecturerBTN" class="btn"><p style="font-size: 25px; color: white;">Teachers, Start Here.</p></button>
    <br />
    <button id="AdminBTN" class="btn"><p style="font-size: 25px; color: white;">Admins, Start Here.</p></button>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var std = $('#StudentBTN');
            std.click(function () {
                location.href = "/Student/Create";
            });
            var lec = $('#LecturerBTN');
            lec.click(function () {
                location.href = "/Lecturer/Create";
            });
            var adm = $('#AdminBTN');
            adm.click(function () {
                location.href = "/Admin/Create";
            });
        });
    </script>    
}


@section head{
    <style>
        body {
            background-image: url('https://www.goalexandria.com/goalex2017/wp-content/uploads/2017/12/alex-reading-lexile-squashed.png');
            background-size: 100%;
        }
        .btn {
            width: 500px; height: 50px;
            background-color: rgba(0, 0, 0, 0.50);
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .btn:hover{
            background-color: rgba(255, 255, 255, 0.25);
        }

    </style>    
}